#sandbox-editor {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  width: calc(100% - 20px); /* Adjust width to leave space on both sides */
  max-width: 100%; /* Ensure it doesn't exceed the container width */
}

#sandbox-editor>textarea {
  height: 128px;
  width: 100%;
  resize: none;
}

#sandbox-editor>footer {
  display: flex;
  flex-direction: row;
  gap: 4px;
  justify-content: end;
}

#sandbox-pause {
  
}

#editor {
  position: absolute;
  width: 650px;
  height: 150px;
  display: flex;
  gap: 4px;
  flex-direction: row;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
}